<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" placeholder="Name" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <input type="email" placeholder="Email" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <input type="password" placeholder="Password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <input type="password" placeholder="rePassword" class="form-control"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <input type="text" placeholder="Phone" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
                <button class="buttonregId" routerLink="/login">Register</button>



            </form>
        </div>
    </div>
</div>